<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title class=" stable" data-comp-id="nav-title.1"
            ng-bind-html="data.header.substring(0,16)"></ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" royal-bg" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class=" light-bg" data-comp-id="div.1" ng-if="item.line"
                ng-repeat="item in data.lines_list"
                style="margin: 5px 10px; border-radius: 10px;">
                <div class="row" data-comp-id="row.1"
                    ng-click="app.action('tableview', 'data.listItems[item].action', this)"
                    style="margin: 0px; padding: 0px; background-color: {{item.color.split(' ')[1]}}">
                    <div class="col col-10 text-center" data-comp-id="column.1"
                        style="padding: 10px 5px;">
                        <i class="icon ion-information-circled positive" data-comp-id="icon.1"
                            style="font-size: 24px;"></i>
                        <div class=" light" data-comp-id="text.1" ng-bind="item.line"
                            style="font-size: 20px;"></div>
                    </div>
                    <div class="col" data-comp-id="column.2" style="padding: 10px;">
                        <div class="row" data-comp-id="row.2">
                            <div class="col" data-comp-id="column.3">
                                <div class=" stable" data-comp-id="text.2" ng-bind="item.paka"
                                    style="font-size: 16px; line-height: 24px;"></div>
                            </div>
                            <div class="col" data-comp-id="column.4">
                                <div class=" stable" data-comp-id="text.3" ng-bind="item.pn"
                                    style="font-size: 12px;"></div>
                            </div>
                            <div class="col" data-comp-id="column.5">
                                <div class=" stable" data-comp-id="text.4" ng-bind="item.pn_description"
                                    style="font-size: 12px;"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.3">
                            <div class="col" data-comp-id="column.6">
                                <div class=" stable" data-comp-id="text.5" ng-bind="item.side"></div>
                            </div>
                            <div class="col" data-comp-id="column.7">
                                <div class=" stable" data-comp-id="text.6" ng-bind="item.side_start_time"></div>
                            </div>
                            <div class="col" data-comp-id="column.8">
                                <div class=" stable" data-comp-id="text.7" ng-bind="item.last_side"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.4">
                            <div class="col" data-comp-id="column.9">
                                <div class=" stable" data-comp-id="text.8" ng-bind="item.qty_of_cards"></div>
                            </div>
                            <div class="col" data-comp-id="column.10">
                                <div class=" stable" data-comp-id="text.9" ng-bind="item.qty"></div>
                            </div>
                            <div class="col" data-comp-id="column.11">
                                <div class=" stable" data-comp-id="text.10" ng-bind="item.wo_in_baan"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.5">
                            <div class="col" data-comp-id="column.12">
                                <div class=" stable" data-comp-id="text.11" ng-bind="item.code_description"></div>
                            </div>
                            <div class="col" data-comp-id="column.13">
                                <div class=" stable" data-comp-id="text.12" ng-bind="item.code_duration"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>