<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <img data-comp-id="image.1" data-img="" ng-src="images/default.png">
        <ion-nav-title class=" stable" data-comp-id="nav-title.1"
            ng-bind-html="data.header.substring(0,16)"></ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="light-bg item-divider card" data-comp-id="div.1" ng-if="item.line"
                ng-repeat="item in data.lines_list" style="margin: 0px; border-radius: 10px;">
                <div class="row" data-comp-id="row.1"
                    ng-click="app.action('tableview', 'data.listItems[item].action', this)"
                    style="margin: 0px; padding: 0px; background-color: {{item.color.split(' ')[1]}}">
                    <div class="col" data-comp-id="column.1" style="padding: 10px;">
                        <div class="row" data-comp-id="row.2">
                            <div class="col" data-comp-id="column.2">
                                <div class="light text-center" data-comp-id="text.1" ng-bind="item.line"
                                    style="font-size: 30px; font-weight: bold;"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.3">
                            <div class="col" data-comp-id="column.3">
                                <div class=" stable" data-comp-id="text.2" style="font-weight: 800;">WO</div>
                            </div>
                            <div class="col" data-comp-id="column.4">
                                <div class=" stable" data-comp-id="text.3" style="font-weight: 800;">PN</div>
                            </div>
                            <div class="col" data-comp-id="column.5">
                                <div class=" stable" data-comp-id="text.4" style="font-weight: 800;">Description</div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.4">
                            <div class="col" data-comp-id="column.6">
                                <div class=" stable" data-comp-id="text.5" ng-bind="item.paka"
                                    style="font-size: 16px; line-height: 24px;"></div>
                            </div>
                            <div class="col" data-comp-id="column.7">
                                <div class=" stable" data-comp-id="text.6" ng-bind="item.pn"
                                    style="font-size: 12px;"></div>
                            </div>
                            <div class="col" data-comp-id="column.8">
                                <div class=" stable" data-comp-id="text.7" ng-bind="item.pn_description"
                                    style="font-size: 12px;"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.5">
                            <div class="col" data-comp-id="column.9">
                                <div class=" stable" data-comp-id="text.8" style="font-weight: 800;">Side</div>
                            </div>
                            <div class="col" data-comp-id="column.10">
                                <div class=" stable" data-comp-id="text.9" style="font-weight: 800;">Start time</div>
                            </div>
                            <div class="col" data-comp-id="column.11">
                                <div class=" stable" data-comp-id="text.10" style="font-weight: 800;">Last side</div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.6">
                            <div class="col" data-comp-id="column.12">
                                <div class=" stable" data-comp-id="text.11" ng-bind="item.side"></div>
                            </div>
                            <div class="col" data-comp-id="column.13">
                                <div class=" stable" data-comp-id="text.12" ng-bind="item.side_start_time"></div>
                            </div>
                            <div class="col" data-comp-id="column.14">
                                <div class=" stable" data-comp-id="text.13" ng-bind="item.last_side"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.7">
                            <div class="col" data-comp-id="column.15">
                                <div class=" stable" data-comp-id="text.14" style="font-weight: 800;">Cards Qty</div>
                            </div>
                            <div class="col" data-comp-id="column.16">
                                <div class=" stable" data-comp-id="text.15" style="font-weight: 800;">Qty</div>
                            </div>
                            <div class="col" data-comp-id="column.17">
                                <div class=" stable" data-comp-id="text.16" style="font-weight: 800;">WO Qty</div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.8">
                            <div class="col" data-comp-id="column.18">
                                <div class=" stable" data-comp-id="text.17" ng-bind="item.qty_of_cards"></div>
                            </div>
                            <div class="col" data-comp-id="column.19">
                                <div class=" stable" data-comp-id="text.18" ng-bind="item.qty"></div>
                            </div>
                            <div class="col" data-comp-id="column.20">
                                <div class=" stable" data-comp-id="text.19" ng-bind="item.wo_in_baan"></div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.9">
                            <div class="col" data-comp-id="column.21">
                                <div class=" stable" data-comp-id="text.20" style="font-weight: 800;">Code</div>
                            </div>
                            <div class="col" data-comp-id="column.22">
                                <div class=" stable" data-comp-id="text.21" style="font-weight: 800;">Code duration</div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.10">
                            <div class="col" data-comp-id="column.23">
                                <div class=" stable" data-comp-id="text.22" ng-bind="item.code_description"></div>
                            </div>
                            <div class="col" data-comp-id="column.24">
                                <div class=" stable" data-comp-id="text.23" ng-bind="item.code_duration"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>